* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #D6DEDB;
}

.navbar {
    height: 55px;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    margin-right: 60px;
}

.bg-container {
    background-image: url('../../assets/cerca-veterinario-cuidando-mascota_23-2149143866.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* efecto de opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: rgba(0, 123, 255, 0.7); /* Azul translúcido */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}

