*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    background-color: #D6DEDB;
}

.navbar {
    height: 55px;
}
  
.navbar-brand img {
    margin-right: 10px;
}
  
.navbar-nav .nav-link {
    margin-right: 60px;
}

.bg-container{
    background-image: url('../assets/cerca-veterinario-cuidando-mascota_23-2149143866.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
}
  
.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* efecto de opacidad para que se lean mejor las letras */
}
  
.text-center {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* sombra del text */
}

#index__container__button{
    background-color: #D6DEDB;
}

#index__container{
    padding: 0;
}

/* CODIGO DE PERRITO STICKY NO TOCAR NO SE COMO FUNCIONA :V */
.sticky-image {
  position: fixed;
  bottom: -8px;
  right: 10px;
  z-index: 1000;
}

.sticky-image img {
  max-width: 200px;
  height: auto;
}